<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shoji.bakingapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.RecipeActivity"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.shoji.bakingapp.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.RecipeIngredientActivity"
            android:parentActivityName=".ui.RecipeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.shoji.bakingapp.ui.RecipeActivity" />
        </activity>
        <activity
            android:name=".ui.RecipeStepActivity"
            android:parentActivityName=".ui.RecipeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.shoji.bakingapp.ui.RecipeActivity" />
        </activity>

        <receiver android:name=".media.BakerPlayer$MediaReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".provider.generated.RecipeProvider"
            android:authorities="com.example.shoji.bakingapp.provider.recipes"
            android:exported="true" />
        <provider
            android:name=".provider.generated.RecipeIngredientProvider"
            android:authorities="com.example.shoji.bakingapp.provider.ingredients"
            android:exported="true" />
        <provider
            android:name=".provider.generated.RecipeStepProvider"
            android:authorities="com.example.shoji.bakingapp.provider.steps"
            android:exported="true" />

        <receiver android:name=".widget.WidgetRecipeList">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/baker_app_widget_info" />
        </receiver>

        <service
            android:name=".widget.GridWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service android:name=".widget.BakerAppWidgetService" />

        <activity android:name=".widget.WidgetIngredientListConfigurationActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver android:name=".widget.WidgetIngredientList">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_ingredient_list_info" />
        </receiver>
    </application>

</manifest>